body {
    padding-top: 50px;
}
.dateTime {
    text-align: right;
    color: lightgray;
    font-size: small;
    padding-right: 20px;
}
.userLink {
    font-size: x-large;
    padding-left: 10px;
    color: #5924ff;
    text-decoration: none;
}
.description{
    text-align: left;
    font-size: medium;
    padding: 10px;
}
.profileImage{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    object-fit: contain;
    background: grey;
}
.text-justify{
    text-decoration: none;
    color: #000000;
}

#fileToUploadLabel {
    top: auto;
    right: auto;
    left: auto;
    width: 20%;
}

nav ul{height:500px; width:auto; overflow:hidden; overflow-y:scroll;}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #cdcdcd;
}

hr {
    border-top: 1px solid #0dc523;
}