{% block addCommentBlock %}
{% if ((username == profileUsername) or (profileUsername is null)) %}
<script src="/js/uploadFileLabel.js"></script>
<form method="post" enctype="multipart/form-data">
    <textarea style="width: 300px" class="form-control" rows="2" name="description"
              placeholder="Description"></textarea>
    <div id="customFile" style="display:inline-flex;">
        <input class="custom-file-input" type="file" name="commentToUpload" id="commentToUpload{{post.id}}"
               onchange="updateLabel('commentToUpload{{post.id}}', 'commentToUploadLabel{{post.id}}');"><br>
        <label class="custom-file-label" for="commentToUpload{{post.id}}" id="commentToUploadLabel{{post.id}}"
               style="width: 20%; top: auto; right: auto; left: auto;">Choose file...</label>
    </div>
    <input type="hidden" name="isComment" value="{{post.id}}">
    <input class="btn btn-success" style="margin-top: 10px; margin-left: 10%" type="submit" name="addPost"
           value="Add new Comment">
    <br>
    <br>
</form>
{% endif %}
{% endblock %}