{% block addPostBlock %}
{% if ((username == profileUsername) or (profileUsername is null)) %}
<div style="display: inline-flex">
<script src="/js/uploadFileLabel.js"></script>
<form method="post" enctype="multipart/form-data">
    <textarea style="width: 800px" class="form-control" rows="5" name="description" placeholder="Description"></textarea>
    <br>
    <div id="customFile" style="display:inline-flex;">
        <input class="custom-file-input" type="file" name="fileToUpload" id="fileToUpload"
               onchange="updateLabel('fileToUpload', 'fileToUploadLabel');"><br>
        <label class="custom-file-label" for="fileToUpload" id="fileToUploadLabel">Choose file...</label>
        <input class="btn btn-success" style="margin-left: 170%" type="submit" name="addPost" value="Add new Post">
    </div>
    <br>
    <br>
</form>
{% if profileUsername == username %}
    <div class="row" style="justify-content: center; margin-right: 0px; margin-left: 0px">
        <div class="column">
            <img style="width: 200px;height: 200px; margin-left: 50px; border-radius: 100%; justify-content: center; object-fit: contain"
                 onclick="openModal('ProfilePicture');" class="hover-shadow" src="{{profileImageLink}}"/>
        </div>
    </div>

    <div id="myModalProfilePicture" class="modal" onclick="closeModal('ProfilePicture')">
        <span class="close cursor" id="closeModalButton" onclick="closeModal('ProfilePicture')">&times;</span>
        <div class="modal-content">
            <img src="{{profileImageLink}}"
                 style="max-width: 100%; max-height: 100%; object-fit: contain; background: black;"
                 onclick="closeModal('ProfilePicture')">
        </div>
    </div>
{% endif %}
{% endif %}
</div>
{% endblock %}