{% macro commentMacro(comment, username) %}
<article>
    <div>
        {% if comment.pictureLink and comment.pictureLink != '' %}

        {% import "modalPicture.html" as modalPMacro %}
        <div style="width: 300px">
            <div class="row" style="justify-content: center; margin-right: 0px; margin-left: 0px">
                <div class="column">
                    <img onload="updateHeight('postTable{{comment.id}}', 'commentTableColumn{{comment.id}}', 'scrollCommentsTable{{comment.id}}')" src="{{comment.pictureLink}}" style=" width: 100%;justify-content: center"
                         onclick="openModal({{comment.id}});" class="hover-shadow">
                </div>
            </div>

            <div id="myModal{{comment.id}}" class="modal" onclick="closeModal({{comment.id}})">
                <span class="close cursor" id="closeModalButton" onclick="closeModal({{comment.id}})">&times;</span>
                <div class="modal-content">
                    <img src="{{comment.pictureLink}}"
                         style="max-width: 100%; max-height: 100%; object-fit: contain; background: black;"
                         onclick="closeModal({{comment.id}})">
                </div>
            </div>
        </div>
        {% endif %}

        <h1 style="padding-left: 10px;">
            <a href="{{comment.userLink}}" style="display: inline-block">
                <img class="profileImage" src="{{comment.profileImageLink}}"/>
            </a>
            <a class="userLink" href="{{comment.userLink}}">{{comment.userNameAndSurname}}</a>
            {% if comment.username == username %}
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" style="top: 20%; left: 20%" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="#" class="notset notsmt dropdown-item" id="edit-button{{comment.id}}">
                        <button type="button" class="btn btn-success" href="#" style="width: 100%;height: 100%">
                            Edit
                        </button>
                    </a>
                    <script>
                        toggleEdit('{{comment.id}}');
                    </script>
                    <form class="dropdown-item" method="post" action="#" enctype="multipart/form-data">
                        <input class="btn btn-danger" type="submit" name="deletePost" value="Delete" style="width: 100%;height: 100%">
                        <input type="number" name="deletePostID" value="{{comment.id}}" hidden>
                    </form>
                </div>
            </div>
            {% endif %}
        </h1>
        <div style="display: inline-flex;">
        <form method="post" action="#" enctype="multipart/form-data">
            <button type="submit" name="updateLike" style="background: transparent; border: transparent; width: 15%; position: relative;">
                <img  src="/Pictures/Like.png" style="width: 100%;">
            </button>
            <input type="number" name="updatePostID" value="{{comment.id}}" hidden>
            <label class="description" style="text-align: left; font-size: medium; position: relative;">{{comment.likeNumber}}</label>
        </form>
        <p class="dateTime">{{comment.dateTime}}</p>
        </div>
        <p class="description active" id="description{{comment.id}}">{{comment.description|raw}}</p>



        {% if comment.username == username %}
        <form id="edit-form{{comment.id}}" method="post" action="#" style="display: none;">
            <textarea
                    class="form-control"
                    name="newDescription"
                    form="edit-form{{comment.id}}"
                    placeholder="New Description"
                    rows="3"
                    style="width: 50%px; display: inline-flex;"
            >{{comment.description}}</textarea>
            <input type="number" name="editPostID" value="{{comment.id}}" hidden>
            <input type="submit" class="btn btn-success" name="editPost" value="Save" style="margin-left: 70%;">
        </form>

        {% endif %}
        <hr style="border-top: 1px solid #00c59c;"/>
    </div>
</article>
{% endmacro %}