{% block footerBlock %}
<br>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Thank you for using our "facebook replica".</span>
    </div>
</footer>

{% endblock %}