{% block headerBlock %}

<div>
    {% if username is defined and profileImageLink is defined %}


    <nav class="navbar navbar-dark bg-dark" style="bottom: 65px; justify-content: left;">
        <a class="navbar-brand" href="/wall/">
            <img src="/Pictures/banner.jpg" style="height: 50px; position: absolute; left: 10%">
        </a>
    </nav>

    <a href="/wall/" style="position: fixed; top: 50%;">
        <img style="width: 40px;height: 40px;border-radius: 30px; margin-left: 10px" src="/Pictures/Global.png">
    </a>

    <div class="btn-group btn-group-lg" style="left: 85%;    bottom: 120px;">
        <button type="button" class="btn btn-primary " onclick="window.location.replace('/userProfile/{{username}}/')">
            <img style="width: 50px;height: 50px; object-fit: contain" src="{{profileImageLink}}"/>
            <a class="text-justify" href="/userProfile/{{username}}/" style="color: white;">{{username}}</a>
        </button>

        <button style="height: 72px;" type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                data-reference="parent">
            <span class="sr-only">Toggle Dropdown</span>
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
            <form class="dropdown-item" method="post" action="/settings/" enctype="multipart/form-data">
                <input style="width: 100%; height: 100%" class="btn btn-info" type="submit" name="Settings"
                       value="Settings">
            </form>
            <div class="dropdown-divider"></div>
            <form class="dropdown-item" method="post" action="/logout/" enctype="multipart/form-data">
                <input style="width: 100%; height: 100%" class="btn btn-danger" type="submit" name="logOut"
                       value="Log Out">
            </form>
        </div>
    </div>

    {% else %}

    <nav class="navbar navbar-dark bg-dark" style="bottom: 110px; justify-content: left; height: 65px">
        <a class="navbar-brand" href="/wall/">
            <img src="/Pictures/banner.jpg" style="height: 50px; position: absolute; left: 10%">
        </a>
    </nav>
    {% endif %}
</div>

{% endblock %}