<html lang="en">
<link rel="icon" href="/Pictures/Icon.png">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>

<link id="bootstrap-css" rel="stylesheet" type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

<link href="/css/index.css" id="index-css" rel="stylesheet" type="text/css">
<script src="/js/index.js"></script>

{{ block("errorAlert", "errorInjection.html") }}

<head>
    <title>Welcome!</title>
</head>

<body style="background-color: #fff4f4">
{{ block("headerBlock","header.html")}}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card text-center login-card">
                <div class="card-header">
                    <div class="row justify-content-center">
                        <div class="col">
                            <a href="#" class="active" id="login-form-link">Login</a>
                        </div>
                        <div class="col">
                            <a href="#" id="register-form-link">Register</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" action="/login/auth" method="post" role="form"
                                  style="display: block;">
                                <div class="form-group">
                                    <input type="email" name="email" id="authEmail" tabindex="1" class="form-control"
                                           placeholder="Email" value="" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="authPassword" tabindex="2"
                                           class="form-control" placeholder="Password" required>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 offset-sm-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="3"
                                                   class="form-control btn btn-login" value="Log In">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form id="register-form" action="/register" method="post" role="form" style="display: none;"
                                  enctype="multipart/form-data">
                                <div class="form-group">
                                    <input type="text" name="firstName" id="registerFirstName" tabindex="1"
                                           class="form-control" minlength="1" placeholder="First Name" value=""
                                           required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="lastName" id="registerLastName" tabindex="2"
                                           class="form-control" minlength="1" placeholder="Last Name" value="" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="username" id="registerUsername" tabindex="3"
                                           class="form-control" minlength="1" placeholder="Username" value="" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" id="registerEmail" tabindex="4"
                                           class="form-control" placeholder="Email Address" value="" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="registerPassword" tabindex="5"
                                           minlength="5" class="form-control" placeholder="Password" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirmPassword" id="registerPassword2" tabindex="6"
                                           minlength="5" class="form-control" placeholder="Confirm Password" required>
                                </div>
                                <div class="form-group">
                                    <input type="file" name="profileImageToUpload" id="profileImageToUpload"
                                           tabindex="7" class="form-control">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 offset-sm-3">
                                            <input type="submit" name="register-submit" id="register-submit"
                                                   tabindex="8" class="form-control btn btn-register"
                                                   value="Register Now">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>