<!DOCTYPE html>
{% macro modalPictureMacro(post) %}

<link href="/css/modalPicture.css" id="modalPicture-css" rel="stylesheet" type="text/css">
<script src="/js/modalPicture.js"></script>

<!-- Images used to open the lightbox -->
<div class="row" style="justify-content: center; margin-right: 0px; margin-left: 0px">
    <div class="column">
        <img src="{{post.pictureLink}}" style=" width: 100%;justify-content: center"
             onclick="openModal({{post.id}});" class="hover-shadow">
    </div>
</div>

<!-- The Modal/Lightbox -->
<div id="myModal{{post.id}}" class="modal" onclick="closeModal({{post.id}})">
    <span class="close cursor" id="closeModalButton" onclick="closeModal({{post.id}})">&times;</span>
    <div class="modal-content">
        <img src="{{post.pictureLink}}"
             style="max-width: 100%; max-height: 100%; object-fit: contain; background: black;"
             onclick="closeModal({{post.id}})">
    </div>
</div>

{% endmacro %}