{% macro postBlock(post, username, likeNumber) %}

<article class="infscrpost">
    <table style="border: 1px solid #337ab7; background-color: #fbf8f8">
        <tbody>
        <tr>
            <td style="width: 800px;">
                <div id="postTable{{post.id}}">

                {% if post.pictureLink and post.pictureLink != '' %}

                    <div class="row" style="justify-content: center; margin-right: 0px; margin-left: 0px">
                        <div class="column">
                            <img onload="updateHeight('postTable{{post.id}}', 'commentTableColumn{{post.id}}', 'scrollCommentsTable{{post.id}}')" src="{{post.pictureLink}}" style=" width: 100%;justify-content: center"
                                 onclick="openModal({{post.id}});" class="hover-shadow">
                        </div>
                    </div>

                    <div id="myModal{{post.id}}" class="modal" onclick="closeModal({{post.id}})">
                        <span class="close cursor" id="closeModalButton" onclick="closeModal({{post.id}})">&times;</span>
                        <div class="modal-content">
                            <img src="{{post.pictureLink}}"
                                 style="max-width: 100%; max-height: 100%; object-fit: contain; background: black;"
                                 onclick="closeModal({{post.id}})">

                            <h1 style="padding-left: 10px;">
                                <a href="{{post.userLink}}" style="display: inline-block">
                                    <img class="profileImage" src="{{post.profileImageLink}}"/>
                                </a>
                                <a class="userLink" href="{{post.userLink}}">{{post.userNameAndSurname}}</a>
                            </h1>

                            <h4 style="color: white">{{post.originalDescription}} </h4>
                        </div>
                    </div>

                {% endif %}
                </div>

                <div style="display: inline-flex">

                    <h1 style="padding-left: 10px;">
                        <a href="{{post.userLink}}" style="display: inline-block">
                            <img class="profileImage" src="{{post.profileImageLink}}"/>
                        </a>
                        <a class="userLink" href="{{post.userLink}}">{{post.userNameAndSurname}}</a>
                    </h1>
                    {% if post.username == username %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" style="top: 20%; left: 20%" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu dropdown-menu-right">


                            <a href="#" class="notset notsmt dropdown-item" id="edit-button{{post.id}}">
                                <button type="button" class="btn btn-success" href="#" style="width: 100%;height: 100%">
                                    Edit
                                </button>

                            </a>
                            <script>
                                toggleEdit('{{post.id}}');
                            </script>
                            <form class="dropdown-item" method="post" action="#" enctype="multipart/form-data">
                                <input class="btn btn-danger" type="submit" name="deletePost" value="Delete" style="width: 100%;height: 100%">
                                <input type="number" name="deletePostID" value="{{post.id}}" hidden>
                            </form>
                        </div>
                    </div>
                    {% endif %}

                    <form method="post" action="#" enctype="multipart/form-data">
                        <button type="submit" name="updateLike" style="background: transparent; border: transparent; width: 15%; left: 90%; top: 10px; position: relative;">
                            <img  src="/Pictures/Like.png" style="width: 100%;">
                        </button>
                        <input type="number" name="updatePostID" value="{{post.id}}" hidden>
                        <label class="description" style="text-align: left; font-size: medium; left: 90%; top: 10px; position: relative;">{{likeNumber}}</label>
                    </form>
                </div>

                <p class="dateTime">{{post.dateTime}}</p>
                <hr style="border-top: 1px solid #0dc523;"/>
                {% if post.username == username %}
                <form id="edit-form{{post.id}}" method="post" action="#" style="display: none ;  position: relative; top: 50%; padding-bottom: 10px">
                        <textarea
                                class="form-control"
                                name="newDescription"
                                form="edit-form{{post.id}}"
                                placeholder="New Description"
                                rows="3"
                                style="width: 80%; display: inline-flex; margin-left: 10px;"
                        >{{post.originalDescription}}</textarea>
                    <input type="number" name="editPostID" value="{{post.id}}" hidden>
                    <input type="submit" class="btn btn-success" name="editPost" value="Save" style="right: 100%">
                </form>
                {% endif %}
                <p class="description active" id="description{{post.id}}">{{post.description|raw}}</p>



            </td>
            <td style="width: 30%;">
                <div style="height: 100%; margin-top: 5px; margin-left: 5px">
                    {{ block("addCommentBlock","addComment.html")}}
                    <nav id="commentTableColumn{{post.id}}">
                        <ul id="scrollCommentsTable{{post.id}}" style="list-style-type:none;">
                            {% import "comment.html" as commentMacro %}
                            {% for comment in post.comments %}
                            <li>{{commentMacro.commentMacro(comment, username)}}</li>
                            <p/>
                            {%endfor%}
                        </ul>
                    </nav>
                </div>
                <script type="text/javascript">
                    updateHeight('postTable{{post.id}}', 'commentTableColumn{{post.id}}', 'scrollCommentsTable{{post.id}}');
                </script>
            </td>
            <br>
        </tr>
        </tbody>
    </table>
</article>
{% endmacro %}