<!DOCTYPE html>
<html lang="en">
<link id="bootstrap-css" rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<link href="/css/postRelatedStyles.css" id="postRelatedStyles-css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery-1.12.4.min.js">\x3C/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="/css/modalPicture.css" id="modalPicture-css" rel="stylesheet" type="text/css">
<script src="/js/modalPicture.js"></script>

{{ block("errorAlert", "errorInjection.html") }}

<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="icon" href="/Pictures/Icon.png">
</head>
<body style="background-color: #fff4f4">
{{ block("headerBlock","header.html")}}
<div class="container" style="margin-top: -10%">
    <p style="padding-left: 10px;"><a href="{{userLink}}">
        <img style="width: 300px;height: 300px;border-radius: 300px; object-fit: contain"
             src="{{profileImageLink}}"/>
    </a>
    <form id="settings-form" action="/settings/" method="post" role="form" enctype="multipart/form-data">
        <div class="form-group">
            <input type="text" name="firstName" id="firstName" tabindex="1" class="form-control" minlength="1" placeholder="First Name" value="{{firstName}}" required>
        </div>
        <div class="form-group">
            <input type="text" name="lastName" id="lastName" tabindex="2" class="form-control" minlength="1" placeholder="Last Name" value="{{lastName}}" required>
        </div>
        <div class="form-group">
            Change Profile Picture:
            <input type="file" name="profileImageToUpload" id="profileImageToUpload" tabindex="3" class="form-control">
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                    <input type="submit" name="saveChanges-submit" id="saveChanges-submit" tabindex="4" class="form-control btn btn-register" value="Save Changes">
                </div>
            </div>
        </div>
    </form>
    <form id="passwordReset-form" action="/settings" method="post" role="form">
        <div class="form-group">
            <input type="password" name="password" id="registerPassword" tabindex="5" minlength="5" class="form-control" placeholder="Password" required>
        </div>
        <div class="form-group">
            <input type="password" name="confirmPassword" id="registerPassword2" tabindex="6" minlength="5" class="form-control" placeholder="Confirm Password" required>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                    <input type="submit" name="changePassword-submit" id="changePassword-submit" tabindex="7" class="form-control btn btn-register" value="Change Password">
                </div>
            </div>
        </div>
    </form>

    <form id="delete-User" action="/settings" method="post" role="form">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                    <input type="submit" name="delete-User-submit" id="delete-User-submit" tabindex="8" class="form-control btn btn-danger" value="Delete Your Account">
                </div>
            </div>
        </div>
    </form>
</div>
{{ block("footerBlock","footer.html")}}
</body>
</html>