<!DOCTYPE html>
<html lang="en">
<link id="bootstrap-css" rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<link href="/css/postRelatedStyles.css" id="postRelatedStyles-css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery-1.12.4.min.js">\x3C/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.js"></script>
<script src="/js/commentSectionHeight.js"></script>
<link href="/css/modalPicture.css" id="modalPicture-css" rel="stylesheet" type="text/css">
<script src="/js/modalPicture.js"></script>
<script src="/js/post.js"></script>

<head>
    <meta charset="UTF-8">
    <title>{{profileUsername}}</title>
    <link rel="icon" href="/Pictures/Icon.png">
</head>

<body style="background-color: #fff4f4">
{{ block("headerBlock","header.html")}}
<div class="parent">
    <div class="container"
         data-infinite-scroll=
         '{
            "path": "/post/{{ inf_scroll_regex }}/?owner={{profileUsername}}&order=ichrono",
            "append": ".infscrpost",
            "checkLastPage": ".infscrpost",
            "prefill": true,
            "history": false
         }'>
        {{ block("addPostBlock","addPost.html")}}
    </div>
</div>
{{ block("footerBlock","footer.html")}}
</body>
</html>